body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
*
{
   scrollbar-color: rgba(0,0,0,1.00) rgba(0,0,0,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 2px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(0,0,0,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,0,0,1.00);
}
*::-webkit-scrollbar-thumb:hover
{
   border-color: rgba(0,255,255,1.00);
}
#wb_header
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   width: 100%;
}
#header
{
   display: flex;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_FlexContainer1
{
   background-color: transparent;
   background-image: url('../images/7280617.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   z-index: 0;
}
#FlexContainer1
{
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 200px 50px 200px 50px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#FlexContainer1-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   background-color: #000000;
   opacity: 0.78;
}
#wb_home
{
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#home
{
   display: flex;
   position: relative;
   height: 300px;
   padding: 50px 50px 50px 50px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_home .parallax
{
   background-color: transparent;
   background-image: url('../images/7280617.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   position: fixed;
   top: 0;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#wb_home .parallax__container
{
   clip: rect(0, auto, auto, 0);
   height: 100%;
   left: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -100;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
}
#Heading1
{
   color: #FFFFEF;
   font-family: "aliens and cows";
   font-weight: normal;
   font-style: normal;
   font-size: 35px;
   margin: 0;
   text-align: left;
}
#wb_FlexContainer3
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexContainer3
{
   display: flex;
   position: relative;
   padding: 100px 50px 50px 50px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 0 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3, #LayoutGrid5 > .row > .col-4, #LayoutGrid5 > .row > .col-5, #LayoutGrid5 > .row > .col-6
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3, #LayoutGrid5 > .row > .col-4, #LayoutGrid5 > .row > .col-5, #LayoutGrid5 > .row > .col-6
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: #4F4F4F;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: #696969;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid5 > .row > .col-3
{
   background-color: #808080;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid5 > .row > .col-4
{
   background-color: #3CB9D4;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-4 > .col-4-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#LayoutGrid5 > .row > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3, #LayoutGrid5 > .row > .col-4, #LayoutGrid5 > .row > .col-5, #LayoutGrid5 > .row > .col-6
{
   float: none;
   width: 100% !important;
}
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   flex-grow: 2;
   flex-shrink: 1;
   align-self: auto;
   text-align: right;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 4px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Bahnschrift;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#StickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_up-arrow:hover #up-arrow i
{
   color: #FFFFFF;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   max-width: 600px;
   margin-left: auto !important;
   margin-right: auto !important;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card1-card-body
{
   padding: 20px 20px 20px 20px;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Catamaran;
   font-weight: bold;
   font-style: normal;
   font-size: 128px;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: rgba(0,0,0,0.75);
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card3-card-body
{
   padding: 0 20px 0 20px;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 10px 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#Card4-card-item3
{
   display: inline-block;
   height: 64px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #FFFFFF;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 24px;
   width: 24px;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 10px 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#Card5-card-item3
{
   display: inline-block;
   height: 64px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #FFFFFF;
   background-image: none;
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 24px;
   width: 24px;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 10px 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card6-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#Card6-card-item3
{
   display: inline-block;
   height: 64px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #FFFFFF;
   background-image: none;
   color: #292D33;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card6-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 24px;
   width: 24px;
}
#wb_Card7
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card7-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card7-card-item0
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 10px 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 10px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#Card7-card-item3
{
   display: inline-block;
   height: 64px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: #FFFFFF;
   background-image: none;
   color: #3CB9D4;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item3 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 24px;
   width: 24px;
}
